/** {*/
/*    box-sizing: border-box;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*  }*/
/*  */
/*  a {*/
/*    display: inline-block;*/
/*    padding: 20px;*/
/*  }*/
/*  */
/*  */
/*    .container {*/
/*      display: grid;*/
/*      grid-template-columns: repeat(3fr);*/
/*      grid-template-rows: 100px repeat(3, 100x) 150px;*/
/*      grid-gap: 15px;*/
/*      text-align: center;*/
/*      margin: 0 auto;*/
/*      width: 1000px;*/
/*    }*/
/*  */
/*  */
/*   footer{*/
/*     padding: 10px;*/
/*   }*/
/*  footer a{*/
/*    padding: 10px;*/
/*    text-decoration: underline;*/
/*    background-color: #B0B5BF;*/
/*  }*/
/*  */
/*  img {*/
/*    padding: 10px;*/
/*  }*/

/*  */
/*  header {*/
/*    display: inline-block;*/
/*    padding: 5px;*/
/*  }*/
/*  */
/*  h3 {*/
/*    display: inline-block;*/
/*    padding: 10px;*/
/*  }*/
/*  */
/*  .tags {*/
/*    padding: 10px;*/
/*    list-style-type: none;*/
/*  }*/
/*  */
/*  .hashtags li {*/
/*    padding: 10px;*/
/*  }*/
/*  */
/*  img{*/
/*    height: 500px;*/
/*    width: 400px;*/
/*  }*/
/*  */
/*  p {*/
/*    display: inline-block;*/
/*    padding: 10px;*/
/*  }*/