<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tags</title>
</head>
<header><h1>Tags</h1></header>
<body>
<ul>
    <li th:each="tag: ${tagNames}">
        <a th:text= "${tag.name}" th:href="@{'/hashtags/'+${tag.id}}"></a>
    </li>
</ul>
<form action="/hashtags/add-new" method="POST">
    <label for="new-hashtags__name-input"></label>
    <input type="text" name="hashtagName" id="new-hashtags__name-input" placeholder="Enter A New Hashtag">
    <input type="hidden" name="tag" th:value="${tagNames}">
    <button type="submit">Submit</button>
</form>
</body>
<footer>    <a href="/categories">Back To Home</a></footer>
</html>