<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/layout.css" rel="stylesheet"/>
    <link href="/style.css" rel="stylesheet"/>

    <title th:text="${post.title}"></title>
</head>
<header><h2 th:each="post: ${post}"></h2>
    <h2 th:text="${post.title}">
    </h2>
</header>
<body>

<li class="tags" th:each="author: ${post.authors}">
    <a th:text="${author.name}" th:href="@{'/authors/'+${author.id}}" >
    </a>
</li>

<p th:text="${post.publishDate}"></p>
<p th:text="${post.body}"></p>

<li class="tags" th:each="tag: ${post.tags}">
    <a th:text="${tag.name}" th:href="@{'/hashtags/'+${tag.id}}" >
    </a>
</li>
<form action="/hashtags/add" method="POST" class="hashtag-input">
    <label for="new-hashtags__name-input"></label>
    <input type="text" name="hashtagName" id="new-hashtags__name-input" placeholder="Enter A New Hashtag">
    <input type="hidden" name="title" th:value="${post.title}">
    <button type="submit">Submit</button>
</form>
</body>
<footer>
    <a href="/categories">Back To Home</a>
</footer>
</html>