<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/layout.css" rel="stylesheet"/>
    <link href="/style.css" rel="stylesheet"/>

    <title>My Blog</title>
</head>
<header>
    <h1 th:text="${category.name}">
</h1>
</header>
<body>
<main>
<ul>
    <li th:each="post: ${category.posts}">
    <a  th:text= "${post.title}" th:href="@{'/posts/'+${post.title}}"></a>
    </li>
    </ul>

    <p>Add a new post here:</p>
    <label for="authors">Choose an author:</label>
    <form action="/post/add" method="POST">
    <select name="authors" id="authors" required>
        <option th:each="author: ${authors}"
                th:value="${author.name}" th:text="${author.name}"></option>
    </select>
    <label for="tags">Choose a tag:</label>
    <select name="tags" id="tags" required>
        <option th:each="tag: ${tags}"
                th:value="${tag.name}" th:text="${tag.name}">
        </option>
    </select>
        <label for="new-post__name-input"></label>
        <input type="text" name="title" id="new-post__name-input" placeholder="Enter post title">
        <label for="new-post__description-input"></label>
        <input type="text" name="body" id="new-post__description-input" placeholder="Enter content here">
        <input type="hidden" name="categoryName" th:value="${category.name}">
        <button type="submit">Submit</button>
    </form>
</main>
</body>
<footer><a href="/categories">Back To Home</a>
</footer>
</html>